.SpectreHeader {
  z-index: 1;
}
@media screen and (orientation:landscape) {
  .SpectreHeader {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 136px;
    margin: 0;
    padding: 0;
  }

  .SpectreHeader .logo-img {
    margin-top: -16px;
    width: 282px;
  }



  .SpectreHeader .avatar-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .SpectreHeader .avatar-name {
    position: absolute;
    top: 100px;
    left: 20px;
  }

  .SpectreHeader-white {
    background-color: #ffffff;
  }

  .SpectreHeader .progress {}

  .SpectreHeader hr {
    margin-top: -26px;
  }
}
@media screen and (orientation:portrait) {
  .SpectreHeader {
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 70px 50px;
  }

  .SpectreHeader img {
    width: 30%;
  }

  .SpectreHeader-white {
    background-color: #ffffff;
  }
}
