div.avatar-image {
  background-image: url("default.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 95px 95px;
  font-size: 0px;
}

@media screen and (orientation: landscape) {
  div.avatar-image {
    margin: 10px;
    width: 100px;
    height: 100px;
    border: solid #929391 3px;
 }
  div.avatar-image:hover {
    border-color: #21c0fc;
 }
  .content p.avatar-name {
    font-size: 20px;
    color: #a5a6a8;
 }
}

@media screen and (orientation: portrait) {
  div.avatar-image {
    margin: 10px;
    width: 150px;
    height: 150px;
    border: solid #929391 5px;
 }
  div.avatar-image:hover {
    border-color: #21c0fc;
 }
  .content p.avatar-name {
    font-size: 24px;
    font-weight: 500;
    color: #a5a6a8;
 }
}
