.SpectreHeader {
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 70px 50px;
    border-bottom: 1px solid #ffffff;
}

.SpectreHeader-white {
    background-color: #ffffff;
}