/******************************************************************************
 * Core Variables
 * Should remain as 'core' and never changed.
 ******************************************************************************/

// Colours
$core_color-neutral-black: #000000;
$core_color-neutral-dark: #222222;
$core_color-neutral-medium: #555555;
$core_color-neutral-light: #999999;
$core_color-neutral-white: #ffffff;

/******************************************************************************
 * Grid Variables
 * Every theme should have these variables and can be changed.
 ******************************************************************************/
$core_grid-unit: 0.5rem;

/******************************************************************************
 * Core Theme Variables
 * Every theme should have these variables and can be changed.
 ******************************************************************************/

// Colours
$core_color-primary: #c8e1ff;

// Mixins
@mixin core_Spacing {
  padding-top: $core_grid-unit;
  padding-right: $core_grid-unit;
  padding-bottom: $core_grid-unit;
  padding-left: $core_grid-unit;
}
