/*
static-css
Overall
*/
@import 'colors.scss';
@font-face {
  font-family: 'Montserrat';
  src: url("Fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat' !important;
  cursor: none !important;
}

body,
html,
p {
  font-family: 'Montserrat' !important;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App * {
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  background-color: white;
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    outline: -webkit-focus-ring-color auto 0;
  }
}
/*
Text
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-style: normal;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  color: $lightGrey;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

h1.addSpacing {
  margin-bottom: 60px;
}

h1.noSpacing {
  margin-bottom: 8px;
  line-height: 48px;
}

h2 {
  font-weight: normal;
  font-size: 40px;
  line-height: 56px;
  color: $lightGrey;
}


h2.noSpacing {
  margin-bottom: 0;
}

h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 52px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 10px;
}

strong {
  color: $blue;
}

span {
  color: $blue;
  font-weight: normal;
}
.circle-section{
  margin-top: 20px;
}
@media screen and (orientation:landscape) {
  body,
  html,
  p,p.normal {
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
  }

  p.normal-nextline {
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
  }

  p.normal-addSpacing {
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    margin-bottom: 40px;
  }

  p.small {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  p.tiny {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $grey;
    display: -webkit-flex;
    -webkit-justify-content: center;
    margin: 0;
    padding: 0 0 126px;
  }

  .split-half {
    -webkit-justify-content: center;
    display: table;
    justify-content: center;
    padding: 0 200px;
  }

  .split-left {
    vertical-align: middle;
    display: table-cell;
    width: 50%;
  }

  .split-right {
    vertical-align: middle;
    display: table-cell;
    width: 50%;
  }

  .thankyou-icon {
    margin: 0px auto 40px;
  }

  .link {
    width: fit-content;
    margin: 0 auto;
  }

  .DataIcons {
    div {
      margin: 0;
      padding: 0;
      height: 140px;
    }

    button.iconEnabled * {
      width: 150px;
      height: 80px;
    }

    button.iconDisabled * {
      filter: grayscale(80%);
      width: 150px;
      height: 80px;
    }

    .iconButtonText {
      font-size: 18px;
      margin-top: 3px;
      margin-bottom: 0;
      padding: 0;
    }
  }
}
@media screen and (orientation:portrait) {
  body,
  html {
    font-size: 48px;
  }

  p.copy {
    font-size: 35px;
    padding-bottom: 40px;
  }

  p,
  p.copy-nextline {
    font-size: 35px;
    padding-bottom: 10px;
  }

  .content {
    padding: 350px 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    color: $grey;
  }

  .iconButtonText {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .DataIcons {
    div {
      margin: 0;
      padding: 0;
      height: 200px;
    }

    button.iconEnabled * {
      width: 150px;
      height: 80px;
    }

    button.iconDisabled * {
      filter: grayscale(80%);
      width: 150px;
      height: 80px;
    }

    .iconButtonText {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

a.disabled {
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.iconButton {}

.thankyou-icon {
  width: 112px;
  height: 112px;
}

.thankyou-icon svg {
  width: 112px;
  height: 112px;
}


.link {
  width: fit-content;
  margin: 0 auto;
}

.MuiButton-label{
  text-transform: none;
}


/* PickYourSide && LaunchCampaign */
.pickLink{
  display: inline-flex;
  margin: 0 auto;

}

.pickLink div{
  padding: 50px;
  width: 360px;
  height: 360px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 50px 77px 0 77px;
}

.pickLink img{
  height: 200px;
}
.RepublicanLogo img{
  padding-top: 20px;
}
.DemocratLogo img{
  padding-bottom: 20px;
}

/* PickYourSide && LaunchCampaign end */
