@import 'colors.scss';
@font-face {
  font-family: 'Montserrat';
  src: url("Fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat' !important;
}

body,
html {
  font-size: 2em;
  font-family: 'Montserrat' !important;
}

.App {
  text-align: center;
}

.App * {
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    outline: -webkit-focus-ring-color auto 0;
  }
}
@media screen and (orientation:landscape) {
  .content {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $grey;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $grey;
    }
  }
}
@media screen and (orientation:portrait) {
  .content {
    padding: 350px 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    color: $grey;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $grey;
    }
  }
}

a.disabled {
  pointer-events: none;
}

strong {
  color: $blue;
}

.hidden {
  visibility: hidden;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.beginLogo {
  -webkit-animation: rotating 8s linear infinite;
  display: inline-block;
}

.buttonWrapper button {
  display: inline-block;
  width: 180px;
  height: 53px;
  margin: 16px;
  border: solid 3px #929391;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: none;
  color: #929391;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 30;
  line-height: 32px;
}

strong {
    color: $blue;
}

@media screen and (orientation:landscape) {
  .buttonWrapper {
    margin: 80px auto;
    align-items: center;
    width: 100%;
  }
}
@media screen and (orientation:portrait) {
  .buttonWrapper {
    padding-left: -40px;
    margin: 80px auto;
    align-items: center;
  }
}
