$red:#e03c31;
$grey:#9B9DA0;
$lightGrey:#C4C4C4;
$blue:#42BAEB;
$white:#FEFEFE;
$redGradient:linear-gradient(90deg, #DBB876 -1.51%, #FF2E00 100%);



:export{
  red:$red;
  grey:$grey;
  lightGrey:$lightGrey;
  blue:$blue;
  white:$white;
  redGradient:$redGradient;
}
