<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>org.spectre.daemon.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/mono1/git/spectre/spectre-err.log</string>

    <key>StandardOutPath</key>
    <string>/Users/mono1/git/spectre/spectre-out.log</string>

    <key>WorkingDirectory</key>
    <string>/Users/mono1/git/spectre/client</string>


    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin/:/usr/local/Homebrew/bin/:$PATH</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/serve</string>
      <string>-s</string>
      <string>build</string>
      <string>-l</string>
      <string>3000</string>
    </array>

  </dict>
</plist>
