@import '../../colors.scss';

.ImageCapture {
  border: 10px solid $red;
  display: none;
}

h3.username {
  color: $blue;
  margin: 0;
  font-size: 44px;
}

h3.question {
  height: 85px;
  font-weight: 300;
  font-size: 44px;
  line-height: 115px;
  vertical-align: baseline;
  margin: 0;
}

.buttonWrapper button {
  display: inline-block;
  width: 180px;
  height: 53px;
  margin-left: 40px;
  margin-top: 0;
}
@media screen and (orientation:landscape) {
  .buttonWrapper {
    margin: 80px auto;
    align-items: center;
    width: 100%;
  }

}
@media screen and (orientation:portrait) {
  .buttonWrapper {
    padding-left: -40px;
    margin: 80px auto;
    align-items: center;
  }
}
