@import '../../colors.scss';

.ImageCapture {
  border: 10px solid $red;
  display: none;
}

h3.username {
  color: $blue;
  margin: 0;
  font-size: 44px;
}

h3.question {
  height: 85px;
  font-weight: 300;
  font-size: 44px;
  line-height: 115px;
  vertical-align: baseline;
  margin: 0;
}
