@import '../../colors.scss';

.ImageCapture {
  left:-10000px;
  position: 'relative'
}

h3.username {
  color: $blue;
  margin: 0;
  font-size: 44px;
}

h3.question {
  height: 85px;
  font-weight: 300;
  font-size: 44px;
  line-height: 115px;
  vertical-align: baseline;
  margin: 0;
}
