@import '../../colors.scss';

.progress {
    position: absolute;
    top: 100px;
    right: 50px;
    display: flex;
    span {
        border: solid $blue 4px;
        padding: 30px;
        border-radius: 1000px;
        width: 100px;
        height: 100px;
        display: inline-block;
        text-align: center;
        margin-left: 40px;
        color: $blue;
    }
    &.progress-one {
        span:first-child {
            border: solid $blue 8px;
            padding-top:25px;
        }
    }
    &.progress-two {
        span:nth-child(2) {
            border: solid $blue 8px;
            padding-top:25px;
        }
    }
    &.progress-three {
        span:nth-child(3) {
            border: solid $blue 8px;
            padding-top:25px;
        }
    }

}