@import '../../colors.scss';
@media screen and (orientation:landscape) {
  .touchToBegin {
    margin: 0;
    height: 100%;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: $white;
  }

  .touchToBegin-Header {
    position: absolute;
    width: 388px;
    height: 118px;
    left: 766px;
    top: 200px;
  }

  .touchToBegin-Header img {
    width: 100%;
  }
}
@media screen and (orientation:portrait) {
  .touchToBegin {
    background-color: $white;
  }

  .touchToBegin-beginButton {
    position: absolute;
    text-decoration: none;
    margin-top: -220px;
    margin-right: 140px;
  }

  .TouchToBegin-clickToContinue-2 p {
    font-size: 1.5em;
    padding-top: 280px;
    color: #ffffff;
  }
}
