@import "../../fonts";

@media screen and (orientation:landscape) {
  .pledge{
    width: 60%;
    align-items: center;
    text-align: center;
    margin: 70px auto;
  }




}
@media screen and (orientation:portriat) {
  /*
  p.copy {
    margin-bottom: 160px;
    font-size: 48px;
  }
  */
}
