@import "../../fonts";

@media screen and (orientation:landscape) {
  .pledge{
    width: 60%;
    align-items: center;
    text-align: center;
    margin: 70px auto;
  }

  p.copy {
    margin-bottom: 100px;
    font-size: 38px;
    font-size: 35px;

  }


}
@media screen and (orientation:portriat) {
  p.copy {
    margin-bottom: 160px;
    font-size: 48px;
  }
}
