.Username-content {
    display: flex;
    flex-direction: column;
}
.simple-keyboard {
  max-width: 800px;
  display: inline-block;
}
TextField {
  width:100px;
}
#keywrapper {
  text-align: center;
}
#name {
  max-width: 100px;

}
