@import "../../fonts";

.successAd {
  p.copy {
    @extend %body;
    margin-bottom: 50px;
    font-size: 48px;
    &.bold {
        font-weight: bold;
    }
  }
  p.icon {
      margin-bottom: 100px;
  }
}