input[type="text"] {
  position: static;
  width: 100%;
  color: #828282;
  font-size: 28px;
  padding-top: 40px;

}

.MuiInputBase-root {
  width: 100%;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiFormGroup-root {
  align-items:flex-start;
}
@media screen and (orientation:landscape) {
  .simple-keyboard {
    margin: auto;
    min-width: 800px;
  }

  .radio span {
    color: #828282;
    font-size: 25px;
  }

  .socialLogin {
    position: absolute;
    top: 25%;
    left: 29%;
  }

  .MuiFormControl-root p {
    padding-top: 60px;
    text-align: left;
    font-size: 28px;

  }

}
@media screen and (orientation:portrait) {
  .radio span {
    color: white;
    font-size: 25px;
  }

  .simple-keyboard {
    min-width: 800px;
  }

}
