@import "../../colors.scss";

.iconButtonText {
    color: #21c0fc;
    text-decoration: none;
}

.iconButton:disabled *{
  pointer-events: none;
  color: $grey;
}

.iconButton *{
  pointer-events: auto;
//  color: $blue;

}

.nextBtnFill{
  padding: 10px;
}

.iconButton-white *{
  pointer-events: auto;
  color: #ffffff;
}

.iconButton {
  background: transparent no-repeat;
  border: none;
  cursor: none;
  outline: none;
  margin: 0;
  padding: 0;
}
