@import "../../colors.scss";

.iconButtonText {
    color: #21c0fc;
    text-decoration: none;
    margin-top: -15px;
    font-size: 45px;
}

.iconButton:disabled *{
  pointer-events: none;
  color: $grey;
}

.iconButton *{
  pointer-events: auto;
  color: $blue;
}

.iconButton-white *{
  pointer-events: auto;
  color: $white;
}

.iconButton {
  background: transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}
