@import '../../fonts';

.InsightComplete-root-1 .content .title {
  @extend %title;
}

#wtf-btn {
    color: #21c0fc;
    text-decoration: none;
    margin-top: 55px;
    font-size: 45px;
}


.OceanProfile{
  margin: 20px auto;
}
