@import '../../fonts';

.InsightComplete-root-1 .content .title {
  @extend %title;
}

.wtf-btn{
  margin-top: 20px;
  box-shadow: none;
}

.wtf-btn span{
  color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0);
}

.OceanProfile{
  margin: 20px auto;
}
