.postExpDarkAd {
  position: relative;
  display: block;
}

.postExpDarkAd .darkAdsubtitle {
  text-align: left;
  margin: 0 50px !important; // FIX TO #507
}

.postExpDarkAd .shareButton {
  font-size: 28px;
  line-height: 46px;
}

.postExpDarkAd .shareButton img {
  width: 32px;
  margin-right: 15px;
}

.postExpDarkAd .adImage {
  padding-top: 0;
  width: 642px;
  height: 464px;
}

.postExpDarkAd .adText {
  position: absolute;
  top: 39%;
  font-size: 36px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  width: 642px;
  background-color: none;
}
