@import "../../colors";

.content {
  .community {
    font-size: 48px;
    font-weight: 300;
    margin: 80px 30px 100px;
    color: $lightGrey;
  }

  .choose-participant {
    font-weight: 600;
    margin-bottom: 110px;
  }

  .influence-a-follower {  }
}