@import "../../fonts";

.TakeBackControl-root-1 h6 {
  margin-bottom: 70px;
  margin-top: 40px;
  font-size: 41px;
}

.TakeBackControl-root-1 h5 {
  @extend %title;
  font-size: 41px;
}

.take-back-control-buttons {
  margin-bottom: 200px;
}