@import '../../colors.scss';
@media screen and (orientation:landscape) {

  .progress {
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;

    span {
      border: solid $blue 4px;
      padding: 30px;
      border-radius: 1000px;
      width: 80px;
      height: 80px;
      display: inline-block;
      text-align: left;
      margin-left: 40px;
      color: $blue;
      background: $white;
      font-size: 32px;
      div {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.active {

        color: $white;
        background: $blue;
      }
    }
  }
}
@media screen and (orientation:portrait) {
  .progress {
    position: absolute;
    top: 100px;
    right: 50px;
    display: flex;

    span {
      border: solid $blue 4px;
      padding: 30px;
      border-radius: 1000px;
      width: 100px;
      height: 100px;
      display: inline-block;
      text-align: center;
      margin-left: 40px;
      color: $blue;

      div {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.active {
        border: solid $blue 8px;
      }
    }
  }
}
