
/*****************
General setup
*****************/

.PostExp {
  cursor: default !important;

}

.PostExp .container h1 {
  font-size: 48px;
  line-height: 52px;
  font-weight: normal;
  color: #42BAEB;
  margin-bottom: 64px;
  position: relative;
  font-weight: normal;
}

.PostExp .container h2 {
  font-weight: bold;
  color: #4F4F4F;
}

.PostExp .container a {
  background-color: transparent;
  color: #42BAEB;
  text-decoration: underline;
  font-size: 16px;
}


.PostExp a:active,
.PostExp a:hover {
  color: #42BAEB;
  outline: 0
}

.PostExp q {
  display: block;
  padding-left: 24px;
  margin: 24px 0;
  border-left: 1px solid #C4C4C4;
  font-style: italic;
  font-weight: 400;
}

.PostExp q:before {
  content: "";
}

.PostExp q:after {
  content: "";
}


/*****************
MenuBar
*****************/

.PostExp #mobile-menu-btn {
  width: 35px;
  height: 55px;
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 1000000;
  border: none;
}

.PostExp #mobile-menu-btn span {
  display: block;
}

.PostExp .menu-btn-div {
  width: 35px;
  height: 5px;
  background-color: #475F7B;
  margin: 6px 0;
  border-radius: 20px;
}

.PostExp #menu-list {
  position: absolute;
  list-style-type: none;
  width: 100%;
  top: -100px;
  white-space: nowrap;
  flex-flow: wrap;
}

.PostExp #menu-list li, .PostExp .ml--active li {
  display: inline-flex;
  list-style-type: none;
  width: 100%;
  padding: 10px;
}

.PostExp #menu-list a, .PostExp .ml--active a {
  text-decoration: none;
  color: #9B9DA0;
}

.PostExp #menu-list a:hover, .PostExp #menu-list a:active, .PostExp .ml--active a:hover, .PostExp .ml--active a:active {
  text-decoration: underline;
  color: #42BAEB;
}

.PostExp .mobile-menu ul.ml * {
  background-color: rgba(255, 255, 255, 0.0);
  position: fixed;
  height: 0;
  padding-top: 150px;
  width: 100%;
  opacity: 0;
  z-index: -10;
  transition: all 0.3s;

}



.PostExp .mobile-menu ul.ml--active {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 10000;
  height: 100vh;
  max-height: calc(100%);
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
  padding-top: 150px;
  opacity: 1;
  transition: all 0.3s;
    padding-bottom: 20px;

}


/*****************
Header
*****************/



.PostExp .SpectreHeader{
  position: absolute;
  margin-bottom: 80px;
}



.PostExp .container {
  text-align: left;
  font-size: 16px;
  line-height: 31px;
  font-weight: 500;
}


/*****************
Contents
*****************/

.PostExp .container ul.link-list {
  list-style-type: circle;
  color: #4F4F4F;
}

.PostExp .container ul.noListStyle {
  list-style-type: none;
  padding-left: 0;
}

.PostExp .container strong {
  color: #4F4F4F;
}

.PostExp .OceanProfile p{
  color: white !important;
  font-weight: 400 !important;
}
.PostExp .OceanProfile h2 {
  color: white !important;
}

.PostExp .OceanProfile .sidenav---navitem---9uL5T {
  background-color: #42BAEB;
}

.PostExp .SideNav-main-collapsed {
  top: 0;
}

.PostExp .OceanProfile .profile-desc-lg p {
  font-size: 28px !important;
  line-height: 37px !important;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.PostExp .container p:not(.slider-title):not(.slider-percentage), .recommend-box {
  color: #4F4F4F;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 31px;
  font-weight: 500;
  margin-block-start: 1em;
  margin-block-end: 1em;
}



.PostExp h1:after {
  background-color: #42BAEB;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  bottom: -32px;
  width: 48px;
}

.PostExp .red {
  color: red !important;
}

/* .PostExp header {
	text-align: center;
	padding: 16px 0 24px 0;
	margin-bottom: 120px;
	border-bottom: 1px solid #e0e0e0;
} */
.PostExp .full-width {
  width: 100%;
}

.PostExp section {
  margin-bottom: 80px;
}

/**** Youtube formatting ****/
.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  height: 0;
  /* Use 75% for 4:3 videos */
  overflow: hidden;
  max-width: 100%;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 50px;
  width: 72px;
  left: 50%;
  top: 55%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("./images/play.png") no-repeat;
  cursor: pointer;
}


/*
Bias
*/

.PostExp .insightPage {
  position: relative;
  margin: 10px 0 10px 0;
  padding: 40px 0 40px 0;
  -webkit-box-shadow: 30px 24px 90px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 30px 24px 90px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 30px 24px 90px 0px rgba(0, 0, 0, 0.24);
  height: auto;
}

.PostExp .insightPage h1:after {
  display: none;
}
.PostExp .insightPage .textSliderText p *, p:not(.textSliderText){
  color: #42BAEB;
}
.PostExp .insightPage .avatar-name{
  font-size: 30px;
  font-weight: normal;
}



/*****************
 Ocean Profile
*****************/

.PostExp .OceanProfileWrapper {
  max-width: 1300px;
  max-height: 800px;
  background-color: #42baeb;
  margin: auto;
  /* position:relative; */
}

.PostExp .OceanProfileWrapper button {
  display: none;
}

.PostExp .OceanProfile {
  position: relative;
  /* top: 0;
  left: 0; */
  width: initial;
}

/*
.PostExp button {
  display: none;
}
*/
.PostExp .SideNav-item-collapsed {
  display: block !important;
}

.PostExp .SideNav-main-collapsed {
  width: 100% !important;
}

.PostExp .split-h {
  top: 40px;
}

.PostExp .OceanProfile img {
  margin: 0px !important;
  box-shadow: none !important;
}

/* End of Ocean Profile CSS */

.PostExp .intro{

  margin-top: 200px;

}

.PostExp div.kim {
  margin: 40px 0;
}

.kim .youtube-player .play {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  margin: 0;
  display: block;
  position: absolute;
  background: url(./images/Kim.jpg) no-repeat;
  background-size: 101%;
  cursor: pointer;
}

/****** END Youtube ******/
.bg-1 {
  background: url(./images/1.png) no-repeat 40% 0;
  padding-top: 136px;
}

.bg-2 {
  background: url(./images/2.png) no-repeat 31% 0;
  padding-top: 136px;
}

.bg-3 {
  background: url(./images/3.png) no-repeat 31% 0;
  padding-top: 136px;
}

.bg-4 {
  background: url(./images/4.png) no-repeat 31% 0;
  padding-top: 136px;
}

.bg-5 {
  background: url(./images/5.png) no-repeat 31% 0;
  padding-top: 136px;
}

.bg-6 {
  background: url(./images/6.png) no-repeat 31% 0;
  padding-top: 136px;
}

.bg-7 {
  background: url(./images/7.png) no-repeat 31% 0;
  padding-top: 136px;
}

.bg-8 {
  background: url(./images/8.png) no-repeat 31% 0;
  padding-top: 136px;
}

.PostExp .image-col {
  padding-top: 40px;
}

.PostExp .container img {
  margin: 40px 0;
  -webkit-box-shadow: 30px 24px 90px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 30px 24px 90px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 30px 24px 90px 0px rgba(0, 0, 0, 0.24);
}

.PostExp .container img.partner {
  max-width: 200px;
  margin-right: 40px !important;
}

.PostExp .funding {
  padding-top: 80px;
  margin-top: 80px;
}

.PostExp .funding h1 {
  margin-top: 0;
}

.PostExp .container img.no-shadow {
  margin: 40px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.PostExp .image-1 .avatar-image {
  zoom: 200%;
  -moz-transform: scale(2);
}

.PostExp .visible-xs .avatar-image {
  zoom: 170%;
  -moz-transform: scale(1.7);
}

.PostExp .avatar-name {
  font-size: 48px;
  text-align: center;
  -webkit-margin-before: 16px !important;
  margin-block-start: 16px !important;
}

.PostExp .user-profile {
  height: 320px;
}

.PostExp footer .breakout {
  transform: rotate(0deg);
  max-width: 499px;
}


/*****************
Mobile / Portrait
*****************/


@media screen and (max-width:1000px) {
  .PostExp {
    width: 100%;
  }


  .PostExp .SpectreHeaderWrapper-mobile .SpectreHeader{
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    height: auto;
    max-height: 150px;
    z-index: 100000;
    transition: all 0.3s;
    background: white;
  }


  .PostExp .SpectreHeaderWrapper .SpectreHeader{
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    height: 150px;
    z-index: 10000;
  }

  .PostExp .SpectreHeader img {
    width: 40%;
    max-width: 250px;
  }



  .PostExp #menu-list {
    display: block;
  }

  .PostExp #menu-list li {}

  .PostExp .container h1 {
    font-size: 32px;
    line-height: 52px;
  }

  .PostExp .visible-xs .avatar-image {
    zoom: 140%;
    -moz-transform: scale(1.4);
  }

  /*
  .PostExp .OceanProfileWrapper{

    zoom: 0.4;
    -moz-transform: scale(0.4);
    position: relative;
  }
  */
  .PostExp footer .breakout {
    transform: rotate(-92deg);
    max-width: 320px;
    text-align: right;
  }

  .PostExp .container img.no-shadow {
    margin: 0px -50px 0px 0px;
  }

  .PostExp .container img.partner {
    margin: 0px 0px 40px 0px;
  }
}

/*
@media (min-width:375px) {

  .PostExp .OceanProfileWrapper{
    zoom: 0.3;
    -moz-transform: scale(0.3);
  }
}
*/
/*
@media (min-width:992px) {
  .PostExp .intro{

  }
  .PostExp #menu-list{

    display: inline-flex;
  }
	.container img.image-1 {
		margin-bottom: 160px;
	}

	.container img.user-profile {
		float: none;
		position: relative;
		right: -180px;

	}
}

@media (min-width:1200px) {

	.container img.image-2 {
		position: relative;
		right: -72px;
	}
}

.recommend-box {
	max-width: 464px;
	padding: 56px;
	background: #FAFAFB;
	float: right;
	margin-right: 48px;
}

.recommend-box h2 {
	font-size: 13px;
	letter-spacing: 3px;
	text-transform: uppercase;
	background: url(./images/icon-book.png) no-repeat left top;
	padding-left: 40px;
	margin: 0 0 24px;
	line-height: 24px;
}

.recommend-box ul {
	position: relative;
	top: 16px;
}

.recommend-box ul li {
	margin-bottom: 32px;
	list-style-type: none;
	padding-left: 24px;
}

.recommend-box ul li:before {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	background: #42BAEB;
	position: absolute;
	left: 0;
	border-radius: 100%;
	color: white;
	text-align: center;
  font-size: 16px;
  font-weight:bold;
}

.recommend-box ul li.one:before {
	content: '1';
}


.recommend-box ul li.two:before {
	content: '2';
}

.recommend-box ul li.three:before {
	content: '3';
}

.pull-quote {
	font-size: 48px;
	line-height: 52px;
	float: left;
	color: #42BAEB;
	height: auto;
	margin: 20px 96px 20px -415px;
	padding: 40px 0px 40px 0;
	position: relative;
	width: 472px;
}

.pull-quote:before,
.pull-quote:after {
	background-color: #C4C4C4;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 484px;
}

.pull-quote:after {
	bottom: 10px;
	top: auto;
}

.PostExp footer {padding-bottom: 80px;}

.PostExp footer .row {
	border-top: 1px solid #BDBDBD;
}



.PostExp footer h1 {
	margin-top: -60px;
}

@-moz-document url-prefix(){
  .PostExp .OceanProfileWrapper {
    position:relative;
  }
  .PostExp .OceanProfile {
    position:absolute !important;
  }
}
@media (min-width:992px) {


	.PostExp footer .row {
		border-top: 1px solid #BDBDBD;
		padding-top: 104px;
	}

	.PostExp footer h1 {
		margin-top: 0px;
	}
}

@media (max-width:1000px) {
  .PostExp .intro{
    margin-top: 400px;
  }
  .PostExp #menu-list{

    display: block;
  }
  .PostExp .OceanProfile{
    zoom: 50%;
    -moz-transform: scale(0.50);
  }
}
@media (max-width:680px) {
  .PostExp #menu-list{

    display: block;
  }
  .PostExp .OceanProfile{
    zoom: 40%;
    -moz-transform: scale(0.40);
  }
}
@media (max-width:550px) {
  .PostExp #menu-list{

    display: block;
  }
  .PostExp .OceanProfile{
    zoom: 30%;
    -moz-transform: scale(0.30);
  }
  .PostExp .split-h{
    top:20px;
  }
}

*/
/******/
