@import '../../colors.scss';

#tos-title-div {
  width: 733px;
  text-align: center;
  border-radius: 0px;
  height: 723px;
}

#tos-content {
  border-radius: 10px;
  overflow-y: scroll;
  padding: 0 80px 0px 80px;
  width:auto;
  height: 250px;
  text-align: left;
}

#tos-content div *{
  font-size: 12px;
  text-align: left;
}

/*
 *  Scrollbar
 */
#tos-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #FFF;
}

#tos-content::-webkit-scrollbar {
  width: 12px;
  background-color: #FFF;
}

#tos-content::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #EEE;
}

#tos-title-div .title {
  font-weight: 200;
  text-align: center;
  color: $black;
}

#modal-container {
  width: 900px;
}

#simple-modal-description {
  padding: 50px 15px;
  text-align: center;
  font-weight: normal;
  color: $blue;
}

#simple-modal-description {
  font-size: 34px;
}

#tos-modal-button {
  padding-left: 10px;
  color: $grey;
  font-weight: 200;
  font-size: 34px;
}


.tos-logo{
  margin: 60px auto 10px;
}

.tos-logo img{
  width: 248px;
}

.tos-buttons button{
  display: inline-block;
  height: 64px;
  width: 265px;
  margin: 16px;
  border: solid 3px #21c0fc;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: none;
  color: $blue;
  letter-spacing: 0;
  line-height: 0;
}

.tos-buttons button span{
  font-size: 18px;
  line-height: 22px;
  color: $blue;
}

.tos-buttons {
position: absolute;
bottom: 0px;
margin-left: 65px;
}

.tos-link{
  font-size: 18px;
  line-height: 130px;
  color: $blue;
  margin-bottom: 70px;
}

#page2-button{
  position: absolute;
  top: 20px;
  right: 20px;
}

#page2-button button span{
  color: $grey;
}

.page2-title{
  text-align: left;
  font-size: 48px;
  line-height: 59px;
  padding-left: 80px;
  padding-top: 60px;
  color: $black;
}
#page2-tos-content{
  text-align: left;
  margin: 0px 80px 0px 80px;
  width: auto;
  height: 536px;
}

#page2-tos-content div *{
  font-size: 12px;
  line-height: 15px;
}

#page2-tos-content {
    overflow-y: scroll;
}

/*
 *  Scrollbar
 */
#page2-tos-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #FFF;
}

#page2-tos-content::-webkit-scrollbar {
  width: 12px;
  background-color: #FFF;
}

#page2-tos-content::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #EEE;
}
