@import '../../colors.scss';

.OceanProfile {

  color: $white;
  width: 100vw;
  position: fixed;
  z-index: 1000;

  h6 {
    color: $white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;

    strong {
      color: $white;
      font-weight: bold;
    }
  }

  .OceanIcons {
    margin-right: 40px;
    margin-left: 20px;
    height: 320px;
  }

  .OceanText {
    max-width: 500px;
    margin-right: 50px;
  }


  .OceanSliders {
    margin-left: 50px;
    margin-right: auto;
    display: block;


    .textSlider, .textSliderMaxVal {
      color: $white;
      width: 530px;
      text-align: left;
      height: 100px;
      overflow: visible;
      display: flex;
      margin-bottom: 30px;



      p {
        color: $white;
        font-size: 16px;
        font-size: 12px;
        //margin-top: -10px;
        text-align: center;
        width: 100%;
      }

      .sliderText {
        display: flex;
        margin: 20px;
      }

      .slider-title {
        width: 200px;
        left:50px;
        font-size: 28px;
        line-height: 46px;
        padding-top: 20px;
        text-align: left;
      }
      .slider-percentage {
        width: 200px;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        padding-top: 30px;

      }
      .icon {
        padding-top: 10px;
        padding-left: 8px;
        width: 95px;
        height: 95px;
      }

      .icon img{
        filter: brightness(0) invert(1);
        width: 95px;
        height: 95px;
      }

      .sliderContainer {
        background: $blue;
        width: auto;
        height: auto;
        display: block;
      }


      .slider {
      //  transform: rotate(270deg);
        height: 10px;
        width: 380px;
        padding-top:0px;
        margin: 20px;
      }
      .slider  *{
        color: white;
      }
      .MuiSlider-root{
        padding: 0 0;
      }

      div[class*="MuiSlider-track"] {
        //height: 9px !important;
        background-color: $white;

        &[class*="MuiSlider-trackBefore"] {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &[class*="MuiSlider-trackAfter"] {
          opacity: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      button[class*="MuiButtonBase"] {
        width: 30px;
        height: 30px;
        background-color: $white;
        border: solid $white 3px;
        display: none;

        &[class*="MuiSlider-activated"] {
          width: 30px;
          height: 30px;
          background-color: $white;
          border: solid $white 3px;
          box-shadow: none;
        }
      }
    }
    .textSliderMaxVal{
      width: 530px;
      background-color: rgba(0,0,255,0.1);
      padding-bottom: 120px;
      margin-bottom: 10px;
    }
  }
}

.content .OceanProfile {
  margin-left: -100px;
  position: relative;

  h6 {
    color: $white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;

    strong {
      color: $white;
      font-weight: bold;
    }
  }
}
