@import '../../colors.scss';

.OceanProfile {
  background-color: #ffffff;
  color: $white;
  width: 100vw;
  position: fixed;
  z-index: 1000;

  h6 {
    color: $white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;

    strong {
      color: $white;
      font-weight: bold;
    }
  }

  .OceanIcons {
    margin-right: 40px;
    margin-left: 20px;
    height: 320px;
  }

  .OceanText {
    max-width: 500px;
    margin-right: 50px;
  }

  .OceanSliders {
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .textSliderText {
      color: $white;
      width: 120px;
      text-align: center;
      height: auto;
      overflow: visible;

      p {
        color: $white;
        font-size: 16px;
        font-size: 12px;
        //margin-top: -10px;
        text-align: center;
        width: 100%;
      }

      .iconText {
        width: 100%;
        text-align: center;
        margin-top: -90px;
      }

      .iconText img{
filter: brightness(0) invert(1);
      }

      .sliderContainer {
        height: 200px;
        display: inline-flex;
      }

      .slider {
        transform: rotate(270deg);
        height: 92px;
        width: 92px;
        padding-top:20px;
      }
      .slider  *{
        color: white;
      }

      div[class*="MuiSlider-track"] {
        //height: 9px !important;
        background-color: $white;

        &[class*="MuiSlider-trackBefore"] {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &[class*="MuiSlider-trackAfter"] {
          opacity: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      button[class*="MuiButtonBase"] {
        width: 30px;
        height: 30px;
        background-color: $white;
        border: solid $white 3px;
        display: none;

        &[class*="MuiSlider-activated"] {
          width: 30px;
          height: 30px;
          background-color: $white;
          border: solid $white 3px;
          box-shadow: none;
        }
      }
    }
  }
}

.content .OceanProfile {
  margin-left: -100px;
  position: relative;

  h6 {
    color: $white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;

    strong {
      color: $white;
      font-weight: bold;
    }
  }
}
