@import '../../colors.scss';

.OceanProfile {
  width: 1300px;
  height: 800px;
  .dominant {
    position: absolute;
    right: 22px;
    width: 160px;
  }
  .profile-info h2{
    font-weight:500 !important;
  }

  .redSpan {
    color: $red;
  }
  color: $white;
  width: 100vw;
  position: fixed;
  z-index: 1000;

  h6 {
    color: $white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;

    strong {
      color: $white;
      font-weight: bold;
    }
  }

  .OceanIcons {
    margin-right: 40px;
    margin-left: 20px;
    height: 320px;
  }

  .OceanText {
    max-width: 500px;
    margin-right: 50px;
  }
// Multi Color Mode
.OceanSliders.MultiColor {
    .openness{
      background-color:#f0ca43;
    }
    .conscientiousness{
      background-color:#ba6cd2;
    }
    .extraversion{
      background-color:#ce6274;
    }
    .agreeableness{
      background-color:#80c652;
    }
    .neuroticism{
      background-color:#223b80;
    }
    .slider-title {
      font-weight:500!important;
    }

    .slider-percentage {
      font-weight:500!important;
    }
  }

  .OceanSliders {
    margin-left: 50px;
    margin-right: auto;
    display: block;

    .textSlider,
    .textSliderMaxVal {
      color: $white;
      text-align: left;
      height: 110px;
      width: 530px;
      overflow: visible;
      display: flex;
      margin-bottom: 20px;
      padding-bottom: 120px;
      // box-sizing: border-box;
      border-radius: 14px;

      p {
        color: $white;
        font-size: 16px;
        font-size: 12px;
        //margin-top: -10px;
        text-align: center;
        width: 100%;
      }

      .sliderText {
        display: flex;
        margin: 20px;
      }

      .slider-title {
        width: 200px;
        left: 50px;
        font-size: 28px;
        line-height: 46px;
        padding-top: 20px;
        text-align: left;
      }

      .slider-percentage {
        width: 200px;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        padding-top: 30px;
      }

      .icon {
        padding-top: 10px;
        padding-left: 8px;
        width: 95px;
        height: 95px;
      }

      .icon img {
        filter: brightness(0) invert(1);
        width: 95px;
        height: 95px;
      }

      .sliderContainer {
        width: auto;
        height: auto;
        display: block;
        background: $blue;
      }

      .slider {
        //  transform: rotate(270deg);
        height: 10px;
        width: 380px;
        padding-top: 0;
        margin: 20px;
      }

      .slider * {
        color: white;
      }

      .MuiSlider-root {
        padding: 0;
      }

      div[class*="MuiSlider-track"] {
        //height: 9px !important;
        background-color: $white;

        &[class*="MuiSlider-trackBefore"] {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &[class*="MuiSlider-trackAfter"] {
          opacity: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      button[class*="MuiButtonBase"] {
        width: 30px;
        height: 30px;
        background-color: $white;
        border: solid $white 3px;
        display: none;

        &[class*="MuiSlider-activated"] {
          width: 30px;
          height: 30px;
          background-color: $white;
          border: solid $white 3px;
          box-shadow: none;
        }
      }
    }

    .textSliderMaxVal {
      border: 2px dashed #FEFEFE;
    }
  }
}

.content .OceanProfile {
  margin-left: -100px;
  position: relative;

  h6 {
    color: $white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;

    strong {
      color: $white;
      font-weight: bold;
    }
  }
}
