@import '../../colors.scss';


h3.username {
  padding-top: 435px;
  color:$blue;
  font-weight: bold;
  font-size: 44px;
  line-height: 88px;
}

h3.normaltext {
  font-size: 44px;
  font-weight: 300;
}
