.darkAdsubtitle {
  text-align: left;
  margin: 0px 50px !important; // FIX TO #507
}
.shareButton {
  font-size: 28px;
  line-height: 46px;
}
.shareButton img {
  width: 32px;
  margin-right: 15px;
}
