{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "padded-blocks": 0,
    "no-console": 0,
    "arrow-body-style": 0,
    "max-len": 0,
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "render",
          "getInitialState",
          "getDefaultProps",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount"
        ]
      }
    ]
  },
  "plugins": ["prettier", "react"]
}
