.Selected {
    .title {
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 100px;
    }
    .copy {
        font-weight: normal;
        font-size: 48px;
        margin-bottom: 100px;
    }
    .avatarName {
        font-weight: bold;
        margin-top: 10px;
    }
}