.LoginPage {
  color: #ffffff;
  flex-grow: 1;
  width: 100%;
  background-size: 'cover';
}

.LoginPage-content h6 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.react-simple-keyboard span {
  font-size: 30px;
}
@media screen and (orientation:landscape) {
  .LoginPage-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #828282;
    }
    background-color: #ffffff;
  }

  .LoginPage-content h1 {
    margin-top: -600px;
    color: #42BAEB;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }

  .LoginPage-content h6 {
    padding-top: 20px;
  }

  .tos {
    position: fixed;
    margin: auto;
    color: #828282;
    text-align: left;
    left: 29.5%;
    bottom: 1.5%;
    font-size: 18px;
  }
}
@media screen and (orientation:portrait) {
  .LoginPage-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .LoginPage-content h2 {
    font-size: 55px;
    font-weight: 400;
    color: #fff;
  }

  .LoginPage-content h6 {}

  .tos {
    position: fixed;
    margin: auto;
    color: #828282;
    text-align: left;
    bottom: 3%;
    left: 28%;
  }
}
