.LoginPage {
  background-color: #21c0fc;
  color: #ffffff;
  flex-grow: 1;
  width: 100%;
  background-size: 'cover';

}



@media screen and (orientation:landscape) {

  .LoginPage-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
      background-color: #21c0fc;
  }

  .tos {
    position: fixed;
    margin: auto;
    color: white;
    text-align: left;
    bottom: 2%;
    left: 43%;
  }
}
@media screen and (orientation:portrait) {
  .LoginPage-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
  }
  .tos {
    position: fixed;
    margin: auto;
    color: white;
    text-align: left;
    bottom: 3%;
    left: 38%;
  }

}
