@import '../../colors.scss';

.touchToBegin {
    background-color: $blue;
    .touchToBegin-beginButton {
        text-decoration: none;
        margin-top: 300px;
        p {
            font-size: 2rem;
            color: #ffffff;
        }
    }
}