@import '../../colors.scss';
@media screen and (orientation:landscape) {
  .touchToBegin {
    margin: 0;
    height: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: $blue;
    width: 100%;
  }

  .touchToBegin-beginButton {
    text-decoration: none;
    position: relative;
    width: 100%;
    top: -140px;
    left: -15px;
    text-align: center;
  }
  
  .TouchToBegin-clickToContinue-2 p {
    font-size: 0.5rem;
    padding-top: 80px;
    color: #ffffff;
    font-size: 1.8em;
  }
}
@media screen and (orientation:portrait) {
  .touchToBegin {
    background-color: $blue;
  }

  .touchToBegin-beginButton {
    position: relative;
    text-decoration: none;
    margin-top: -220px;
    margin-right: 140px;
  }

  .TouchToBegin-clickToContinue-2 p {
    font-size: 1.5em;
    padding-top: 280px;
    color: #ffffff;
  }
}
