@import '../../colors.scss';
@media screen and (orientation:landscape) {
  .touchToBegin {
    margin: 0;
    height: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: $blue;
    width: 100%;
  }

  .touchToBegin-beginButton {
    text-decoration: none;
    position: relative;
    width: 100%;
    top: -120px;
    left: -30px;
    text-align: center;
  }

  .MuiTypography-body1 {
    font-size: 0.5rem;
    color: #ffffff;
  }

  .TouchToBegin-clickToContinue-2 {}

  .TouchToBegin-clickToContinue-2 p {
    font-size: 1.8em;
  }
}
@media screen and (orientation:portrait) {
  .touchToBegin {
    background-color: $blue;

    .touchToBegin-beginButton {
      text-decoration: none;
      margin-top: -40px;
      margin-right: 60px;

      p {
        font-size: 2rem;
        color: #ffffff;
      }
    }
  }
}
